@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #295872;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    

}
.data{
    min-width: 522px;
    max-width: 900px ;
}

.data {
    
    border: none;
    display: flex;
    align-items: center;
    height: 200px;
    width: 80%;
    justify-content: space-evenly;
    background: transparent;
    
    /*box-shadow: 0px 0px 70px rgb(120, 241, 225);*/
}
.data div{
    min-width: 130px;
}
.data div {
    border: 2px solid #8dbeda;
    height: 170px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background: #4292bf;
    box-shadow: 0px 0px 20px #8dbeda;
    border-radius: 50%;
    letter-spacing: 4px;
}
.data span {
    color: #8dbeda;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
}
.data span.calendario{
    color: #8dbeda;
    font-size: 15px;
    font-style: italic;
}
.relogio{
    min-width: 450px;
    max-width: 700px;
    
}

.relogio {
    border: 2px solid #8dbeda;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    width: 70%;
    background: #4292bf;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #8dbeda;
}
.relogio div {
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background: #357599;
    box-shadow: 0px 0px 20px #8dbeda;
    border-radius: 50%;
    letter-spacing: 4px;
    

}

.relogio span{
    color: #8dbeda;
    font-style: italic;
    font-weight: bolder;
    font-size: 50px;
}

.relogio span.tempo {
    color: #8dbeda;
    font-style: italic;
    font-size: 15px;
}
